---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import logo from '../../assets/logo-test3.webp';
---

<section class='contact-section'>
  <div class='contact-wrapper'>
    <div class='first-column'>
      <Image class='contact-logo' src={logo} alt='logo-image' />
      <p>
        LogoLama to cała ja – Paulina Kopaczewska-Rudaś – nauczycielka i
        logopedka. Logopedia to moja pasja, spełniam się pracując z dziećmi i
        widząc efekty pracy logopedycznej. Nieustannie się rozwijam i poszerzam
        swój warsztat pracy.
      </p>
    </div>
    <div class='second-column'>
      <h2>Kontakt</h2>
      <div>
        <a class='link-phone' href='tel:+48668278485'
          ><Icon class='icon' name='phone2' width={20} height={20} /></a
        >
        <a class='link-mail' href='mailto:logolama1@wp.pl'
          ><Icon name='mail2' width={20} height={20} /></a
        >
        <a
          class='link-facebook'
          href='https://www.facebook.com/search/top/?q=logolama'
          ><Icon name='face' width={20} height={20} /></a
        >
      </div>
    </div>
    <div class='third-column'>
      <h3>Na skróty:</h3>
      <ul class='contact-list'>
        <li><a aria-label='link to main page' href='#'>Strona Główna</a></li>
        <li><a aria-label='link to about me subpage' href='/o-mnie'>O mnie</a></li>
        <li><a aria-label='link to services' href='/services'>Usługi</a></li>
        <li><a aria-label='link to privacy policy' href='/'>Polityka Prywatności</a></li>
      </ul>
    </div>
  </div>
</section>

<style>
  .contact-section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    padding-inline: 30px;
    background-color: #4559b2;
    background-image: url('/clouds-bg2.webp');
    background-position: left 20px;
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--rose-bg);
  }
  .contact-section::before {
    position: absolute;
    content: '';
    background-image: url('/waves-4-3.webp');
    top: -180px;
    left: -1px;
    height: 183px;
    width: 101%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-section::after {
    position: absolute;
    content: '';
    background-image: url('/clouds-bg.webp');
    bottom: 0px;
    right: -1px;
    height: 183px;
    width: 100%;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-logo {
    object-fit: contain;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  .first-column,
  .second-column,
  .third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
  }
  .first-column p {
    font-family: var(--baloo-font);
    text-align: center;
  }
  .second-column div {
    display: flex;
    gap: 20px;
  }
  .second-column h2 {
    font-size: 2.1rem;
    font-family: var(--mulish-font);
    color: var(--wh);
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .second-column a {
    background-color: var(--sea-blue);
    font-size: 22px;
    margin-right: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: var(--wh);
    line-height: 50px;
    text-align: center;
    border-radius: 100px;
    box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
  }
  .second-column .link-phone {
    background-color: var(--rose-main);
  }
  .link-phone:hover,
  .link-mail:hover,
  .link-facebook:hover {
    opacity: 0.8;
  }
  .second-column .link-mail {
    background-color: #fcd380;
  }
  .third-column h3 {
    font-family: var(--mulish-font);
    font-size: 2rem;
    margin-bottom: 15px;
    color: var(--rose-logo);
  }
  .third-column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .third-column ul li a {
    font-size: 1.1rem;
    font-family: var(--baloo-font);
    font-weight: 700;
    color: #f0d0dc;
  }
  @media (min-width: 900px) {
    .contact-section {
      background-size: 800px;
      padding-inline: 200px;
    }
    .contact-section::after {
      background-size: contain;
    }
    .contact-wrapper {
      align-items: start;
      margin-top: 40px;
      flex-direction: row;
      gap: 100px;
    }
    .first-column {
      max-width: 30%;
    }
    .second-column {
      align-items: start;
    }
    .third-column,
    .third-column .contact-list {
      align-items: start;
    }
  }
</style>
