---

---

<section>
    <h1>To jest hero section</h1>
    <h2>to jest hero section</h2>
</section>

<style>
    section {
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: var(--rose-bg);
    }
</style>