.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: clamp(0.7rem, 0.5vw, 1.2rem);
  font-family: var(--baloo-font);
  color: var(--text-blue);
  background-color: var(--rose-bg);
  padding: 22px 0 12px 0;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.footer_link {
  color: var(--rose-main);
  text-decoration: none;
}
.footer_link:hover {
  opacity: 0.9;
}
@media (min-width: 900px) {
  .footer {
    padding: 12px 0 12px 0;
  }
}
