---
import AboutSection from '../components/AboutSection/AboutSection.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <HeroSection />
    <AboutSection />
  </main>
</Layout>

<style>
  
</style>
