---
import AboutSection from '../components/AboutSection/AboutSection.astro';
import CallToAction from '../components/CallToActionSection/CallToAction.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import ServicesSection from '../components/ServicesSection/ServicesSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <HeroSection />
    <AboutSection />
    <ServicesSection />
    <CallToAction />
  </main>
</Layout>

<style>
  
</style>
