---
import { Image } from "astro:assets";
import logo from '../../assets/logo-test.webp'
import HamburgerBtn from './HamburgerBtn.astro';
import { Icon } from "astro-icon/components";
---

<header>
    <!-- <div class="nav-contacts">
        <a href="">phone</a>
        <a href="">e-mail</a>
    </div> -->
    <nav class="nav-container">
        <a class="logo" href="/">
          <Icon class="nav-logo-sm" name="logo-test2" width={70} height={70}/>
            <!-- <Image class="nav-logo-sm" src={logo} alt='logo with lama face' width={70}/> -->
        </a>
        <ul aria-label='primary nav' class="nav-desktop">
            <li><a href="">O mnie</a></li>
            <li><a href="">Usługi</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
        <div class="nav-lit-contact">
            <a href="">Konsultacja</a>
        </div>
        <HamburgerBtn />
        <ul aria-label='primary nav' class="nav-mobile">
            <li><a class="nav-mobile-link" href="/">O mnie</a></li>
            <li><a class="nav-mobile-link" href="/">Usługi</a></li>
            <li><a class="nav-mobile-link" href="/">Kontakt</a></li>
        </ul>
    </nav>
    <div class='backdrop'></div>
</header>

<style>
  .backdrop {
    position: fixed;
    top: 0;
    display: block;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s ease,
      visibility 0.5s;
  }
  .backdrop-active {
    opacity: 1;
    visibility: visible;
  }
  .nav-desktop, .nav-lit-contact, .nav-contacts {
    display: none;
  }
  .nav-container {
    background-color: var(--rose-bg);
    display: flex;
    position: fixed;
    color: var(--text-blue);
    top: 0;
    width: 100%;
    padding: 10px;
    transition: background-color .5s ;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: var(--baloo-font);
    
  }
  .nav-container.sticking {
    background-color: white;
    box-shadow: 0px 5px 12px 1px rgba(242, 238, 238, 1);
  }
  .nav-desktop li, .nav-mobile li {
    list-style: none;
  }
  .nav-mobile {
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: var(--wh);
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    gap: 40px;
    flex-direction: column;
    z-index: 19;
    transform: translateY(-150%);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .active {
    transform: translateY(0);
  }
  .logo {
    margin-left: 15px;
  }
  .nav-logo-sm {
    display: block;
  }
@media(min-width:900px) {
  .nav-desktop {
    display: flex;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  .nav-contacts {
    position: absolute;
    display: block;
    z-index: 1001;
    width: 100%;
    padding-block: 30px;
    background-color: red;
  }
  .nav-container {
    
    
  }
}
</style>
<script>
    const hamburgerBtn = document.querySelector('.hamburger');
    const navList = document.querySelector('.nav-mobile');
    const navLinks = document.querySelectorAll('.nav-mobile-link');
    const backdrop = document.querySelector('.backdrop');
    const navContainer = document.querySelector('.nav-container');

     
    const sentinel = document.createElement('div');
    document.body.insertBefore(sentinel, document.body.firstChild);

  
    Object.assign(sentinel.style, {
    position: 'absolute',
    top: '100px',
    left: '0',
    width: '100%',
    height: '1px',
    pointerEvents: 'none',
  });

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      navContainer!.classList.toggle('sticking', !entry.isIntersecting);
    });
  }, { threshold: 0.1 });

  observer.observe(sentinel);
   
    const toggleHamburger = () => {
      hamburgerBtn!.classList.toggle('is-active');
      navList!.classList.toggle('active');
      document.body.classList.toggle('sticky-body');
      backdrop!.classList.toggle('backdrop-active');
    };
  
    const removeSticky = () => {
      document.body.classList.remove('sticky-body');
      navList!.classList.remove('active');
      hamburgerBtn!.classList.remove('is-active');
    };
  
    hamburgerBtn!.addEventListener('click', toggleHamburger);
  
    navLinks.forEach((links) => {
      links.addEventListener('click', removeSticky);
    });
  </script>
  