---
import { Image } from 'astro:assets';
import logo2 from '../../assets/logo-test2.webp';
import HamburgerBtn from './HamburgerBtn.astro';
import { Icon } from 'astro-icon/components';
---

<header>
  <div class='nav-contacts'>
    <p class='profession'><span>Logopeda </span>Paulina Kopaczewska-Rudaś</p>
    <div>
      <a aria-label='link to phone number' href='tel:+48668278485'>
        <Icon name='phone' width={20} height={20} /><span>+48 668 278 485</span
        ></a
      >
      <a aria-label='link to email' href='mailto:logolama1@wp.pl'
        ><Icon name='mail' width={20} height={20} />
        <span>logolama1@wp.pl</span></a
      >
    </div>
  </div>
  <nav class='nav-container'>
    <a class='logo' href='/'>
      <!-- <Icon class="nav-logo-sm" name="logo-test2" width={80} height={80}/> -->
      <Image class='nav-logo-sm' src={logo2} alt='logo-with-lama-pointing-to-brand-name' loading='eager' />
    </a>
    <ul aria-label='primary nav' class='nav-desktop'>
      <li>
        <a aria-label='link to about me subpage' href='/o-mnie'>O mnie</a>
      </li>
      <li>
        <a aria-label='link to services subpage' href='/uslugi'>Usługi</a>
      </li>
      <li>
        <a aria-label='link to contact subpage' href='/kontakt'>Kontakt</a>
      </li>
    </ul>
    <div class='nav-lit-contact'>
      <span class="free-talk">Darmowa Konsultacja</span>
    </div>
    <HamburgerBtn />
    <ul aria-label='primary nav' class='nav-mobile'>
      <li><a aria-label='link to about me subpage' class='nav-mobile-link' href='/o-mnie'>O mnie</a></li>
      <li><a aria-label='link to services subpage' class='nav-mobile-link' href='/uslugi'>Usługi</a></li>
      <li><a aria-label='link to contact subpage' class='nav-mobile-link' href='/kontakt'>Kontakt</a></li>
    </ul>
  </nav>
  <div class='backdrop'></div>
</header>

<style>
  header {
    background-color: transparent;
  }
  .backdrop {
    position: fixed;
    top: 0;
    display: block;
    left: 0;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s ease,
      visibility 0.5s;
  }
  .backdrop-active {
    opacity: 1;
    visibility: visible;
  }
  .nav-desktop,
  .nav-lit-contact {
    display: none;
  }
  .nav-contacts {
    padding: 15px 0px;
    background-color: var(--rose-bg);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid #f4e5e5;
  }
  .profession {
    display: none;
  }
  .nav-contacts div {
    display: flex;
    gap: 20px;
  }
  .nav-contacts > div:nth-child(2) > a:nth-child(1),
  .nav-contacts > div:nth-child(2) > a:nth-child(2) {
    /* font-size: .7rem; */
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
  .nav-contacts div a {
    display: flex;
    font-family: var(--mulish-font);
    color: var(--text-blue);
    align-items: center;
    gap: 3px;
  }
  .nav-container {
    background-color: var(--rose-bg);
    display: flex;
    position: sticky;
    color: var(--text-blue);
    top: 0;
    width: 100%;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: var(--baloo-font);
  }
  .nav-container.sticking {
    position: fixed;
    background-color: white;
    box-shadow: 0px 10px 11px -11px rgba(66, 68, 90, 1);
  }
  .nav-desktop li,
  .nav-mobile li {
    list-style: none;
  }
  .nav-mobile {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 50dvh;
    display: flex;
    background-color: var(--wh);
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    gap: 40px;
    flex-direction: column;
    z-index: 19;
    transform: translateY(-200%);
    transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .nav-mobile-link {
    font-family: var(--baloo-font);
    color: var(--text-blue);
    font-size: 1.2rem;
    font-weight: 700;
  }
  .logo {
    margin-left: 15px;
    width: 110px;
  }
  .nav-logo-sm {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .active {
    transform: translateY(0);
  }
  .free-talk {
    color: var(--wh);
    padding: 10px 30px;
    border-radius: 6px;
    background-color: var(--text-blue2);
    font-weight: 700;
    display: inherit;
    text-align: center;
    font-size: clamp(1rem,1.2vw,1.5rem);
    transition: background-color 0.3s;
    box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
  }

  @media (min-width: 900px) {
    .nav-desktop {
      display: flex;
      gap: 20px;
    }
    .nav-desktop li a {
      font-family: var(--baloo-font);
      color: var(--text-blue);
      font-weight: 700;
      min-width: 100px;
      padding: 10px 20px;
      display: inline-block;
      border-radius: 6px;
      transition: background-color 0.3s ease-in;
      font-size: clamp(1rem, 1.2vw, 1.5rem);
    }
    .nav-desktop li a:hover {
      color: var(--wh);
      box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
      background-color: var(--rose-main);
      padding: 10px 20px;
    }
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
    }
    .nav-mobile {
      display: none;
    }
    .nav-container {
      padding-block: 0;
      padding-inline: 200px;
      justify-content: space-around;
      gap: 100px;
    }
    .nav-contacts {
      padding-block: 20px;
      padding-inline: 135px;
      gap: 50px;
      justify-content: space-between;
      /* width: 87%; */
    }
    .profession {
      display: inline-block;
      font-family: var(--mulish-font);
      color: var(--text-blue);
      font-weight: 700;
    }
    .profession span {
      color: var(--rose-main);
    }
    .nav-lit-contact {
      display: block;
    }
    .nav-lit-contact a {
      color: var(--wh);
      padding: 10px 20px;
      border-radius: 6px;
      background-color: var(--text-blue2);
      font-weight: 700;
      font-size: clamp(1rem, 1.2vw, 1.5rem);
      transition: background-color 0.3s;
      box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
    }
    .nav-lit-contact a:hover {
      background-color: var(--text-blue);
    }
    .nav-logo-sm {
      width: 180px;
      height: 100px;
    }
  }
  @media (max-width: 380px) {
    .nav-contacts > div:nth-child(2) > a:nth-child(1),
    .nav-contacts > div:nth-child(2) > a:nth-child(2) {
      font-size: 0.5rem;
    }
  }
</style>
<script>
  const hamburgerBtn = document.querySelector('.hamburger');
  const navList = document.querySelector('.nav-mobile');
  const navLinks = document.querySelectorAll('.nav-mobile-link');
  const backdrop = document.querySelector('.backdrop');
  const navContainer = document.querySelector('.nav-container');

  const scrollWatcher = document.createElement('div');
  scrollWatcher.setAttribute('data-atribute', '');
  navContainer?.before(scrollWatcher);

  const observer = new IntersectionObserver(
    (entries) => {
      navContainer!.classList.toggle('sticking', !entries[0].isIntersecting);
    },
    { rootMargin: '100px 0px 0px 0px' },
  );

  observer.observe(scrollWatcher);

  const toggleHamburger = () => {
    hamburgerBtn!.classList.toggle('is-active');
    navList!.classList.toggle('active');
    document.body.classList.toggle('sticky-body');
    backdrop!.classList.toggle('backdrop-active');
  };

  const removeSticky = () => {
    document.body.classList.remove('sticky-body');
    navList!.classList.remove('active');
    hamburgerBtn!.classList.remove('is-active');
  };

  hamburgerBtn!.addEventListener('click', toggleHamburger);

  navLinks.forEach((links) => {
    links.addEventListener('click', removeSticky);
  });
</script>
