---
import Navbar from '../components/Navbar/Navbar.astro';
import '../utils/CustomFonts.css';
interface Props {
  title: string;
}

const {
  title = 'Usługi logopedyczne oraz poradnia pediatryczna na najwyższym poziomie - LogoLama',
} = Astro.props;
---

<!doctype html>
<html lang='pl'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    /* fonts  */
    --mulish-font: 'Mulish', sans-serif;
    --baloo-font: 'Baloo 2', sans-serif;
    /* colors */
    --rose-bg: #fdf5f2;
    --rose-main: hsl(344, 96%, 71%);
    --wh: hsl(0, 0%, 100%);
    --grey: #716b6b;
    --text-blue: hsl(235, 33%, 29%);
    --bg-blue: hsl(222.7, 35.4%, 49.8%);
    --text-blue2: hsl(220, 49%, 51%);
    --sea-blue: hsl(195, 88%, 61%);
  }
  html {
    scroll-padding-top: 0px;
    min-height: 200vh;
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
  }
  .sticky-body {
    overflow: hidden;
  }
</style>

<script type='module'></script>
