---
import { Image } from 'astro:assets';
import kids from '../../assets/cta-bg2.webp';
---

<section class='action-section'>
  <h2 class='action-heading'>
    Skontaktuj się ze mną i dowiedz się, jak mogę pomóc Twojemu dziecku
  </h2>
  <Image class='action-image' src={kids} alt='cheerful-kids' />
  <h3 class='action-subheading'>Zadzwoń lub napisz, aby ustalić szczegóły.</h3>
  <a aria-label="link to contact subpage" class='action-link' href='/kontakt'>Kontakt</a>
</section>

<style>
  .action-section {
    padding-inline: 30px;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .action-image {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
  .action-heading {
    font-size: clamp(1.8rem, 2.5vw, 3rem);
    color: var(--text-blue);
    letter-spacing: 1px;
    font-family: var(--baloo-font);
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .action-subheading {
    font-family: var(--mulish-font);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 700;
    color: var(--text-blue);
    text-align: center;
    margin-top: 15px;
    line-height: 24px;
  }
  .action-links {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .action-link {
    color: var(--wh);
    margin-top: 25px;
    font-family: var(--baloo-font);
    box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
    background-color: var(--sea-blue);
    border-radius: 6px;
    font-size: clamp(1.2rem, 1.2vw, 2rem);
    padding: 10px 60px;
    transition: background-color 0.3s;
  }
  .action-link:hover {
    background-color: var(--rose-main);
  }
  .link:hover {
    background-color: var(--base-gold);
  }
  @media (min-width: 900px) {
    .action-heading {
      margin-top: 50px;
    }
  }
</style>
